<div class='container border border-primary m-2'>
  <div class='mt-4'>
    <h2> Orders </h2>
  </div>

  <div>
    <%- @queue_orders.each do |order| %>
      <div class='mb-4'>
        <div class='d-flex flex-row justify-content-between border-top mb-4 pt-2'>

          <div class='left-block px-2'>
            <div>
              <label>ID:</label>
              <%= order.id %>
            </div>

            <div>
              <label>Created:</label>
              <%= order.created_at %>
            </div>

            <div>
              <label>Promotion codes:</label>

              <div class='d-flex flex-row'>
                <%- order.promotion_codes.each do |promotion_code| %>
                  <%= promotion_code %>
                <% end %>
              </div>
            </div>

            <div>
              <label>Discount code:</label>
              <%= order.discount_code %>
            </div>

            <div class='pt-4'>
              <label>Total price:</label>
              <%= OrderDecorator.new(order).total %>
            </div>
          </div>

          <div class='right-block d-flex flex-column flex-grow-1 px-2'>
            <p>items:</p>
            <%- order.items.each do |item| %>
              <div class='d-flex justify-content-between'>

                <ul>
                  <li>
                    <%= item['name'] %>
                    (<%= item['size'] %>)
                  </li>

                  <%- if item['add'].present? %>
                    <ul>
                      <%- item['add'].each do |add| %>
                        <li>Add: <%= add %> </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <%- if item['remove'].present? %>
                    <ul>
                      <%- item['remove'].each do |remove| %>
                        <li>Remove: <%= remove %> </li>
                      <% end %>
                    </ul>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>

        <div class='px-2'>
          <%=
            button_to 'Complete',
              order_path(order.id),
              method: :patch,
              params: { order: { state: Order::STATES.closed } },
              class: 'btn btn-primary'
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
